/*estilo del navegador */ 
h1,h2,h3,h4,h5,h6{
    color:#016C98;
  }
  p,h1,h2,h3,h4,h5,h6,a{
    font-family: 'Gluten', cursive !important;
  }
  .navbar-nav li{
  
  font-family: 'Gluten', cursive !important;
  padding: 5px!important;
  }
  .navbar-nav a{
    color:beige !important;
  }
  ul .dropdown-menu{
    background-color:#016C98;
    color:beige !important;
  
  }
  
   a.dropdown-item {
  
    color:rgb(255, 255, 255) !important;
     padding: 10px;
   
     
  }
  a.dropdown-item:hover{
    background-color:orangered !important;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75) !important; 
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75)!important; 
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75)!important; 
  transform: scale(1.1)!important ;
  -webkit-transform: scale(1.1)!important ;
  -moz-transform: scale(1.1)  !important;
  } 
  
  /*estilo de data dable y modal */ 
  table th{
      background-color: #016C98 !important;
      color:#ffffff;
  }
  
  
  .cuerpo_modal{
      background-color:#016C98 !important;
  }
  .cabecera_modal{
      text-align: justify!important;
      color:white;
      background-color:#016C98 !important;
  }
  .footer_modal{
      background-color:#016C98 !important;
  }
  .eliminar{
      color:red !important;
  }
  .eliminar:hover{
      color:black!important;
  }
  .whatsApp{
      color:green !important;
  }
  .whatsApp:hover{
      color:black!important;
  }
  .editar{
      color:blue!important;
  }
  .editar:hover{
      color:black !important;
  }
  .cuerpo_modal{
      background-color:#016C98 !important;
  }
  .cabecera_modal{
      text-align: justify!important;
      color:white;
      background-color:#016C98 !important;
  }
  .footer_modal{
      background-color:#016C98 !important;
  }
   /*icono de la diferentes tablas */ 
 
  .verMaterias{
      color:green !important; 
  }
  .verMaterias:hover{
      color:black!important;
  }
  .editar{
      color:blue!important; 
  }
  .editar:hover{
      color:black !important;
  }
  .verAlumnos{
      color:cyan!important; 
  }
  .verAlumnos:hover{
      color:black !important;
  }
  